/* HOME STYLES */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #fff;
  padding: 0 5%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-family: "Deezer Brand", "Tahoma", sans-serif;
}

.content {
  max-width: 900px;
  z-index: 2;
  color: #000;
}

.content h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 0.9;
  text-transform: uppercase;
  text-wrap: balance;
  color: #000;
  letter-spacing: -2px;
  margin: 0;
}

.content p {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 700;
  color: #444;
  line-height: 1.4;
}

.btnMain {
  margin-top: 50px;
  background-color: #a435f0;
  color: white;
  border: none;
  padding: 18px 55px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
}

.btnMain:hover {
  background-color: #8a2be2;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(138, 43, 226, 0.3);
}

.backgroundShape {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #fffefe, #8a2be2);
  z-index: 1;
  opacity: 0.4;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 48px;
  }

  .content p {
    font-size: 18px;
  }

  .btnMain {
    padding: 14px 40px;
    font-size: 1rem;
  }
}